@import '../../styling.scss';

.allArticles {
    margin: auto 10% 70px;
  
    .spanBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 40px auto;

      .spanBoxText {
        color: $main_blue;
                width: auto;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

                &:hover{
                    transform: scale(1.1);
                    transition: 0.3s;
                    font-weight: 600;
                }
      }
    }
  
    .allArticlesListing {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 70px;
  
      .allArticlesSingle {
        display: flex;
            flex-direction: row;
            gap: 20px;
            width: 100%;
            box-shadow: 0px 5px 20px $box_shadow_black;;
            border-radius: 20px;
            padding: 20px;
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  
        &:hover {
          transform: scale(1.05);
          transition: 0.3s;
        }
  
        .mainPopularImageParent {
          width: 100%;
          max-height: 300px;
          flex: 33%;
          cursor: pointer;
  
          .mainPopularImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
          }
        }
  
        .singleArticleDetails {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 66%;
          margin-top: 10px;
  
          h3 {
            color: $main_blue;
          }
  
          .singleArticleBottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-right: 20%;
  
            .singleArticleBottomLeft {
              display: flex;
              flex-direction: column;
              gap: 10px;
  
              .singleArticleAuthor {
                color: $main_blue;
              }
  
              .singleArticleDateTime {
                color: rgba(31, 63, 104, 0.5);
              }
            }
  
            .singleArticleBottomRight {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 50px;
  
              .bookmark{
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
                width: 30px;
        
                &:hover{
                    transform: scale(1.3);
                    transition: 0.3s;
                }
            }
            }
          }
        }
      }
    }
  
    .slideButtons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      .postButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        cursor: pointer;
        background: $lighter_blue;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        transition: background-color 0.3s ease, transform 0.3s ease;
  
        &:hover {
          transform: scale(1.1);
          transition: 0.3s;
        }
  
        img {
          width: 20px;
          height: 20px;
        }
  
        &:disabled {
          background: $blocked_grey;
          cursor: not-allowed;
        }
  
        span {
          color: $second_blue;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
  
    .imageModalOverlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1000;
  
      .closeButton {
        position: absolute;
        top: 200px;
        right: 110px;
        z-index: 1002;
        padding: 5px 10px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  
    .imageModal {
      width: 90%;
      height: 60%;
      background: white;
      z-index: 1001;
      display: flex;
      flex-direction: row;
      border-radius: 20px;
  
      img {
        height: 100%;
        width: auto;
        object-fit: contain;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
  
      .carouselComponentDetails {
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
  
        h3 {
          color: $main_blue;
        }
  
        .DetailsBottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
  
          .DetailsBottomRight {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 30px;
            
            .bookmark{
              cursor: pointer;
              transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
              width: 30px;
      
              &:hover{
                  transform: scale(1.3);
                  transition: 0.3s;
              }
            }
  
            img {
              height: auto;
            }
          }
        }
  
        .DetailsBottomLeft {
          .popularArticleAuthor {
            color: $main_blue;
          }
  
          .popularArticleDateTime {
            color: rgba(31, 63, 104, 0.5);
          }
        }
      }
    }
  
    .prevButton,
    .nextButton {
      position: absolute;
      top: 10px;
      transform: translateY(-50%);
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      z-index: 1002;
      width: 40px;
      height: 40px;
      top: 50%;
    }
  
    .prevButton {
      left: 40px;
    }
  
    .nextButton {
      right: 40px;
    }
  }