$main_blue: #1F3F68;
$second_blue: #356EAD;
$lighter_blue: #7db7fa;

$box_shadow_black: #00000015;

$blocked_grey: #ccc;
$input_grey: #F4F4F4;
$icon_grey: #aaa;
$texts_grey: #666;
$texts_grey_darker: #333;