@import '../../styling.scss';

.popular{
    position: relative;
    margin: auto 10%;

    span{
        color: $second_blue;
    }

    .mainPopular{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        gap: 10px;
        box-shadow: 0px 5px 20px $box_shadow_black;
        border-radius: 20px;
        padding: 20px;
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        

        &:hover{
            transform: scale(1.05);
            transition: 0.3s;
        }

        .mainPopularDetails{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 40%;
            
            h2{
                color: $main_blue;
            }

            .mainPopularDetailsBottom{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 80%;

                .DetailsBottomLeft{
                    .popularArticleAuthor{
                        color: $main_blue;
                    }

                    .popularArticleDateTime{
                        color: rgba(31, 63, 104, 0.5);
                    }
                }

                .DetailsBottomRight{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 30px;

                    .bookmark{
                        cursor: pointer;
                        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
                        width: 30px;
                
                        &:hover{
                            transform: scale(1.3);
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        .mainPopularImage{
            flex: 60%;
            max-width: 900px;
            max-height: 600px;
            object-fit: cover;
            border-radius: 20px;
            cursor: pointer;

        }
    }

    .popularCarousel{
        .popularCarouselParent{
            margin: 50px auto;
            display: flex;
            flex-direction: row;
            gap: 30px;
            width: 100%;
            flex-wrap: wrap;
        
            .popularCarouselComponent{
                display: flex;
                flex-direction: column;
                gap: 30px;
                max-width: calc(33.33% - 20px);
                flex: 1;
                box-shadow: 0px 5px 20px $box_shadow_black;
                border-radius: 20px;
                padding: 20px;
                transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
                flex-basis: 25%;

                &:hover{
                    transform: scale(1.05);
                    transition: 0.3s;
                }

                    .mainPopularCarouselImageParent{
                        height: 300px;

                        .mainPopularCarouselImage{
                            max-height: 300px;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 20px;
                            cursor: pointer;
                        }
                    }
        
                .carouselComponentDetails{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
        
                    h3{
                        color: $main_blue;
                    }
        
                    .DetailsBottom{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
        
                        .DetailsBottomRight{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 30px;

                            .bookmark{
                                cursor: pointer;
                                transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
                                width: 30px;
      
                                &:hover{
                                    transform: scale(1.3);
                                    transition: 0.3s;
                                }
                            }
                        }
                    }
        
                    .DetailsBottomLeft{
                        .popularArticleAuthor{
                            color: $main_blue;
                        }
        
                        .popularArticleDateTime{
                            color: rgba(31, 63, 104, 0.5);
                        }
                    }
                }
            }
        }
        
        .spanLeftBox{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 30px auto;
            
            
            .spanLeft{
                color: $main_blue;
                width: auto;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

                &:hover{
                    transform: scale(1.1);
                    transition: 0.3s;
                    font-weight: 600;
                }
            }
        }
    }

    .imageModalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1000;

        .closeButton {
            position: absolute;
            top: 200px;
            right: 110px;
            z-index: 1002;
            padding: 5px 10px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
      }
      
      .imageModal {
        width: 90%;
        height: 60%;
        background: white;
        z-index: 1001;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
      
        img {
            height: 100%;
            width: auto;
            object-fit: contain;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        .carouselComponentDetails{
            width: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;

            h3{
                color: $main_blue;
            }

            .DetailsBottom{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                .DetailsBottomRight{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 30px;

                    img{
                        height: auto;
                    }

                    .bookmark{
                        cursor: pointer;
                        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
                        width: 30px;
                
                        &:hover{
                            transform: scale(1.3);
                            transition: 0.3s;
                        }
                      }
                }
            }

            .DetailsBottomLeft{
                .popularArticleAuthor{
                    color: $main_blue;
                }

                .popularArticleDateTime{
                    color: rgba(31, 63, 104, 0.5);
                }
            }
        }
      }
    
      .prevButton,
      .nextButton {
        position: absolute;
        top: 10px;
        transform: translateY(-50%);
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1002;
        width: 40px;
        height: 40px;
        top: 50%;
      }
    
      .prevButton {
        left: 40px;
        
      }
    
      .nextButton {
        right: 40px;  
      }

      .bookmark{
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        width: 30px;

        &:hover{
            transform: scale(1.3);
            transition: 0.3s;
        }
    }
}

@media screen and (max-width: $big_laptop) {
    .popular{
    
        .mainPopular{
    
            .mainPopularImage{
                max-width: 500px;
                max-height: 400px;
            }
        }
    
        .popularCarousel{
            .popularCarouselParent{
            
                .popularCarouselComponent{
    
                        .mainPopularCarouselImageParent{
                            height: 200px;
    
                            .mainPopularCarouselImage{
                                max-height: 200px;
                            }
                        }
            
                    .carouselComponentDetails{
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
            
            
                        .DetailsBottom{
            
                            .DetailsBottomRight{
                                gap: 20px;
                            }
                        }
            
                    }
                }
            }
        }
    
        .imageModalOverlay {
    
            .closeButton {
                top: 250px;
                right: 160px;
              }
          }
          
          .imageModal {
            width: 80%;
            height: 50%;
    
            .carouselComponentDetails{
    
                .DetailsBottom{
    
                    .DetailsBottomRight{
                        gap: 20px;
                    }
                }
            }
          }
        
          .prevButton {
            left: 80px;
            
          }
        
          .nextButton {
            right: 80px;  
          }
    }
}

@media screen and (max-width: $laptop) {
    .popular{
    
        .mainPopular{
    
            .mainPopularImage{
                max-width: 400px;
                max-height: 300px;
            }
        }
    
        .popularCarousel{
            .popularCarouselParent{
            
                .popularCarouselComponent{
                    gap: 10px;
    
                        .mainPopularCarouselImageParent{
                            height: 150px;
    
                            .mainPopularCarouselImage{
                                max-height: 150px;
                            }
                        }
            
                    .carouselComponentDetails{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
            
            
                        .DetailsBottom{
            
                            .DetailsBottomRight{
                                gap: 20px;
                            }
                        }
            
                    }
                }
            }
        }
    
        .imageModalOverlay {
    
            .closeButton {
                top: 300px;
                right: 110px;
              }
          }
          
          .imageModal {
            width: 80%;
            height: 30%;

            img{
                height: 100%;
                
            }
    
            .carouselComponentDetails{
    
                .DetailsBottom{
    
                    .DetailsBottomRight{
                        gap: 20px;
                    }
                }
            }
          }
        
          .prevButton {
            left: 50px;
            
          }
        
          .nextButton {
            right: 50px;  
          }
    }
}

@media screen and (max-width: $tablet) {
    .popular{
    
        .mainPopular{
            flex-direction: column-reverse;

            .mainPopularDetails{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;

                .mainPopularDetailsBottom{
                    width: 100%;
                }
            }
    
            .mainPopularImage{
                max-width: 100%;
                max-height: auto;
            }
        }
    
        .popularCarousel{
            .popularCarouselParent{
                flex-direction: column;
            
                .popularCarouselComponent{
                    max-width: 100%;
                    gap: 10px;
    
                        .mainPopularCarouselImageParent{
                            height: 150px;
    
                            .mainPopularCarouselImage{
                                max-height: 150px;
                            }
                        }
            
                    .carouselComponentDetails{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
            
            
                        .DetailsBottom{
            
                            .DetailsBottomRight{
                                gap: 20px;
                            }
                        }
            
                    }
                }
            }
        }
    
        .imageModalOverlay {
    
            .closeButton {
                top: 95px;
                right: 55px;
              }
          }
          
          .imageModal {
            height: 80%;
            flex-direction: column;

            img{
                max-height: 40%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-bottom-left-radius: 0px;

            }
    
            .carouselComponentDetails{
    
                .DetailsBottom{
    
                    .DetailsBottomRight{
                        gap: 20px;
                    }
                }
            }
          }
        
          .prevButton {
            left: 10px;
            width: auto;
            height: auto;
            
          }
        
          .nextButton {
            right: 10px; 
            width: auto;
            height: auto; 
          }
    }
}